
// == Attachment input

.attachment-input {

  .btn-upload {
    position: relative;
    cursor: pointer;

    .input-file {
      opacity: 0; // invisible but it's there!
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      cursor: pointer;
    }
  }

  .preview-item {
    border: 1px solid $border-color;
    // float: left;
    // margin-top: $designer-sidebar-section-padding-y;
    position: relative;
    max-width: 110px;
    // width: 80px;
    // height: 80px;

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    // img {
    //   height: 80px;
    // }

    a.delete {
      // position: absolute;
      // top: -.5rem;
      // right: -.5rem;
      // color: $gray-900;
      // font-size: 1.25rem;
      // line-height: 1;
      // background: rgba(white, .5);
      // border-radius: 50%;

      // Match Verte close icon
      position: absolute;
      width: 20px;
      height: 20px;
      line-height: 20px;
      top: -.5rem;
      right: -.5rem;
      font-size: .75rem;
      // background: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      text-align: center;
      color: white;
      background-color: rgba(black, .4);
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath d='M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z' fill='%23ffffff'%3e%3c/path%3e%3c/svg%3e");
      background-size: 12px;
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      z-index: 2;

      &:hover {
        // color: white;
        // background: theme-color('danger');
        background-color: rgba(black, .6);
      }
      &:active,
      &:focus {
        // color: white;
        // background: darken(theme-color('danger'), 10%);
        background-color: rgba(black, .6);
      }
    }
  }

  &.attachment-array-input {
    .preview-item {
      max-width: initial;
      padding-top: 62.5%;

      img {
        // height: 80px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
