.designer-range-input {
  .designer-range-input-wrap {
    position: relative;
    width: 80%;

    label {
      transition: opacity 0.3s ease-in-out;
    }

    input[type="range"] {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      z-index: 1;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &:hover {
    label {
      opacity: 0;
    }
    input[type="range"] {
      opacity: 1;
    }
  }

  input.transparent {
    text-align: right;
    padding: 0;
  }

  // .item-wrap {
  //   padding-left: 1rem !important;
  // }
}
