.trix-text-input {
  trix-toolbar {
    // .trix-button-group:not(:first-child) {
    //   // margin-left: 0;
    // }
    //
    // .trix-button--icon-strike,
    // .trix-button--icon-code,
    // .trix-button--icon-increase-nesting-level,
    // .trix-button--icon-decrease-nesting-level { display: none; }


    .trix-button--icon-fullscreen {
      text-indent: 0;
    }
  }

  .trix-content {
    max-height: 60vh;
    min-height: 100px;
    resize: vertical;
    overflow: auto;
  }

  &:fullscreen {
    background-color: white;

    .trix-content {
      max-height: initial;
      height: 92vh !important;
      resize: none;
    }

    label {
      display: none;
    }
  }
}
