.designer-ui {

  .btn {
    &.no-caret {
      &:after {
        display: none;
      }
    }

    > i,
    > .icon {
      margin-right: .375rem;
      vertical-align: middle;

      &:only-child {
        margin: 0;
      }
    }

    > span {
      vertical-align: middle;
      margin-left: 0;
    }
  }

  .text-btn {
    font-weight: $btn-font-weight; //600;

    > i {
      margin-right: .375rem;
    }

    // Always show styles
    &.text-success {
      @include hover-focus {
        text-decoration: underline;
        color: darken(theme-color('success'), $emphasized-link-hover-darken-percentage) !important;
      }
    }
  }

  .btn-icon {
    // box-shadow: none !important;
    @include flex-center;

    // min-width: 1.75rem;
    // height: 1.75rem;
    min-width: 26px;
    height: 26px;
    line-height: 1;
    text-align: center;
    font-size: 1rem; //.25rem;
    padding: 0;
    // font-size: 0.85rem;
    // vertical-align: middle;
    // border: 1px solid red;
    box-shadow: none;

    &:before,
    &:after {
      display: none;
    }

    &:focus,
    &.focus,
    &.active,
    &:active,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      box-shadow: none;
    }

    // padding: 0.2rem;
    // display: block;
    // width: 1.25rem;
    // height: 1.25rem;
    // line-height: 1.2rem;
    // text-align: center;
    // font-size: 0.85rem;
    // padding: 0;

    > i {
      margin: 0;
    }
  }

  .btn-success,
  .btn-secondary {
    color: white;
  }

  // .btn-outline-success {
  //   @include hover-focus-active {
  //     color: white !important;
  //   }
  // }

  .btn-text-secondary {
    color: theme-color('secondary');
    @include designer-text-hover-color('dark');
  }

  .btn-hover-primary {
    @include designer-hover-button($hover-color: theme-color('primary'));
  }

  .btn-hover-success {
    @include designer-hover-button($hover-color: theme-color('success'));
  }

  .btn-hover-danger {
    @include designer-hover-button($hover-color: theme-color('danger'));
  }
}
