@import 'variables';

.designer-ui {

  header {
    @include designer-titlebar;
  }

  .item-handle {
    @include designer-titlebar;
    padding-top: $designer-section-padding-y;
    padding-bottom: $designer-section-padding-y;
    border-top: 1px solid $border-color;
    background: white;
    min-height: 3.5rem;

    .title,
    .label {
      @include flex-fill;
      color: $gray-900;
      font-weight: 600;
      font-size: .9rem;
    }

    &.secondary {
      border-top-color: rgba($border-color, .75);
      background: rgba(white, .5);
      min-height: auto;
    }
  }

  // .item-wrap,
  .item-wrap {
    padding: $designer-item-padding-y $designer-section-padding-x;

    .item-wrap {
      padding-left: 0;
      padding-right: 0;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}
