.designer-tags-input {
  .b-form-tag {
    margin-bottom: 0.25rem;
    cursor: pointer;
  }

  &.has-max-tags {
    .b-from-tags-field {
      display: none;
    }
    .b-form-tags {
      .form-text {
        line-height: 1;
        margin-top: 0.25rem;
      }
    }
  }

  .dropdown-tags {
    line-height: 1.75;

    .badge {
      cursor: pointer;
    }
  }

  .dropdown-toggle:not(.disabled) {
    border-color: darken($input-border-color, 10);

    &:active,
    &.active {
      border-color: theme-color(secondary);
    }
  }
}
