.trix-text-input {
  trix-toolbar {
    .trix-button--icon-fullscreen {
      text-indent: 0;
    }
  }

  .trix-content {
    max-height: 60vh;
    min-height: 100px;
    resize: vertical;
    overflow: auto;
  }

  &:fullscreen {
    background-color: white;

    .trix-content {
      max-height: initial;
      height: 92vh !important;
      resize: none;
    }

    label {
      display: none;
    }
  }
}
