.designer-color-input {
  .verte {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 1px rgba(black, .3);

    .verte__guide {
      width: 100%;
      height: 100%;
      min-height: 1.25rem;
      // height: $designer-input-height;
      // line-height: $designer-input-line-height;
      // min-height: $input-height;
      border-radius: $border-radius;
      overflow: hidden;

      svg {
        border-radius: $border-radius;
        overflow: hidden;
        @include fill-parent;
      }
    }

    .verte__menu-origin {
      margin-top: $designer-input-height;
    }

    .verte__recent-color:after {
      background: transparent;
    }
  }
}
