
// == Generic helpers

.flex-center {
  @include flex-center;
}

.flex-v-center {
  @include flex-align(center);
}

.fill-parent {
  @include fill-parent;
}

.overflow-hidden {
  overflow: hidden;
}

.wrapper {
  position: relative;
}

.no-data {
  color: theme-color('secondary');
  font-size: $font-size-sm;
  padding: 0 $designer-sidebar-section-padding-x;
}


// == Center container

.center-container {
  display: flex !important;
  align-items: center !important; // .align-items-#{value}
  justify-content: center !important; // .justify-content-#{value}
}


// == Dropdowns

.dropdown {

  // Override .text-danger etc.
  .dropdown-item.active,
  .dropdown-item:active {
    color: white !important;
  }
}


// == Slidein forms

.slidein-form {
  // background: white;
  background: $designer-sidebar-background-color;
  z-index: 101;
  position: absolute;
  overflow: hidden;

  // Note using `width: 100%`  with translateX or absolute is causing a bug in
  // Chrome with multiple panels. Sliding from left to right seems to fix it.
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: transform .3s ease-in-out;

  &.show {
    transform: translateX(100%);
    overflow: visible;
  }
}

.sortable-chosen .slidein-form {
  display: none !important;
}


// == Collapsible Panel

.collapsible {
  .collapse-caret {
    transition: transform 0.2s ease;
    margin-right: .5rem;
    font-size: .75rem;
  }
  .collapse-content {
    // transition: max-height 0.3s ease-out;
    // max-height: 0;
    // overflow: hidden;
    display: none;
  }

  &.expand {
    .collapse-caret {
      transform: rotateZ(90deg);
    }
    .collapse-content {
      display: block;
      // height: auto;
      // max-height: 600px;
    }
  }
}


// == Text colors

.text-hover-primary {
  @include designer-text-hover-color('primary');
}
.show > .text-hover-primary {
  color: darken(theme-color('primary'), $emphasized-link-hover-darken-percentage) !important;
}

.text-hover-danger {
  @include designer-text-hover-color('danger');
}
.show > .text-hover-danger {
  color: darken(theme-color('danger'), $emphasized-link-hover-darken-percentage) !important;
}

.text-hover-dark {
  @include designer-text-hover-color('dark');
}
.show > .text-hover-dark {
  color: darken(theme-color('dark'), $emphasized-link-hover-darken-percentage) !important;
}
