.center-container {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
}


// == Slidein forms

.slidein-form {
  // background: white;
  background: $sidebar-background-color;
  z-index: 101;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: transform .3s ease-in-out;

  &.show {
    transform: translateX(0);
  }
}

.sortable-chosen .slidein-form {
  display: none !important;
}



// == Collapsible Panel

.collapsible {
  .collapse-caret {
    transition: transform 0.2s ease;
    margin-right: .5rem;
    font-size: .75rem;
  }
  .collapse-content {
    // transition: max-height 0.3s ease-out;
    // max-height: 0;
    // overflow: hidden;
    display: none;
  }

  &.expand {
    .collapse-caret {
      transform: rotateZ(90deg);
    }
    .collapse-content {
      display: block;
      // height: auto;
      // max-height: 600px;
    }
  }
}
