//
// Theme variables
// --------------------------------------------------
$navbar-height: 4rem;

$font-raleway: 'Raleway', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-opensans: 'Open Sans', sans-serif;
$font-times: 'Cardo', 'Times New Roman', Times, serif;
$font-playfair: 'Playfair Display', 'Times New Roman', Times, serif;

// $font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace:  Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
// $font-family-base:       $font-family-sans-serif;


$brand-gold: #FFD043;
// $brand-pink: #C72073;
$brand-purple: #8a0775;
// $brand-yellow: #fcc315;
// $heart-red: red;
$border-color: #dee2e6;
$border-color-light: #eee;


$sidebar-background-color: #eee;
$sidebar-section-padding-x: 1rem;
$sidebar-section-padding-y: .75rem;
$sidebar-section-padding: $sidebar-section-padding-y $sidebar-section-padding-x;

//
// Boostrap includes
// --------------------------------------------------

@import 'bootstrap/scss/functions.scss';
@import 'bootstrap/scss/mixins.scss';

//
// Boostrap overrides
// --------------------------------------------------

$font-family-serif: $font-raleway;
$font-family-sans-serif: $font-raleway;
$headings-font-family: $font-raleway;

// $font-family-serif: $font-playfair;
// $font-family-sans-serif: $font-poppins;
// $headings-font-family: $font-poppins;

$font-size-base: 1rem; // 1rem; // Assumes the browser default, typically `16px`
$font-size-lg:   1.1rem;
$font-size-sm:   .85rem;

$line-height-base:            1.65;

// $input-btn-font-size-sm:      $font-size-sm !default;
// // $input-btn-font-size:         .85rem;
// $input-btn-font-size-lg:      $font-size-lg !default;

$nav-tabs-link-active-bg:           $sidebar-background-color; // $body-bg !default;

$theme-colors: (
  primary: $brand-purple
);


//== Options

$enable-caret:                                true;
$enable-rounded:                              false;
$enable-shadows:                              false;
$enable-gradients:                            false;
$enable-transitions:                          true;
$enable-prefers-reduced-motion-media-query:   true;
$enable-hover-media-query:                    false; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:                         true;
$enable-print-styles:                         true;
$enable-validation-icons:                     true;

//== Spacing

$spacer: 1rem;
$spacers: (
  0: 0,
  o25: ($spacer * .25),
  o5: ($spacer * .5),
  o75: ($spacer * .75),
  1: $spacer,
  125: ($spacer * 1.25),
  15: ($spacer * 1.5),
  175: ($spacer * 1.75),
  2: ($spacer * 2),
  25: ($spacer * 2.5),
  3: ($spacer * 3),
  35: ($spacer * 3.5),
  4: ($spacer * 4),
  45: ($spacer * 4.5),
  5: ($spacer * 5)
);

//== Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 534px, // 544px, // 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1680px
);

//== Grid containers

$container-max-widths: (
  sm: 500px, // 510px, // 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1600px
);


@import 'bootstrap/scss/variables.scss';
